.section_title {
  margin: 50px auto 40px;
}
.schedule_container {
  padding-bottom: 100px;
}

.schedule_container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

.schedule_left {
  width: 75%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

.calendar {
  box-sizing: border-box;
  border: 1px solid rgb(198, 223, 251);
  border-radius: 5px;
  padding: 24px 20px;
  background: rgb(239, 246, 254);
}

.calendar_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calendar_arrow {
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px -2px rgba(53, 53, 53, 0.24);
  background: rgb(255, 255, 255);
}

.calendar_top h3 {
  color: rgb(53, 53, 53);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.calendar_top span {
  padding-left: 14px;
}
.calendar_dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 16px;
}
.calendar_dates div {
  height: 73.67px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.calendar_dates div p {
  color: rgb(53, 53, 53);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
}
.calendar_days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar_day {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgb(198, 223, 251);
  background: rgb(255, 255, 255);

  height: 73.67px;
}

.calendar_day p {
  /* Body text/M */
  color: rgb(53, 53, 53);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}

.calendar_day_disabled {
  opacity: 0.4;
  cursor: default;
}
.calendar_totals {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 30px;
}
.calendar_wrapper {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
.calendar_wrapper_left {
  width: 66%;
}

.calendar_total {
  box-sizing: border-box;
  border: 1px solid rgb(198, 223, 251);
  border-radius: 5px;
  padding: 10px;
  background: rgb(239, 246, 254);
  display: flex;
  align-items: center;
  gap: 10px;
}

.calendar_total h4 {
  /* Body text/M */
  color: rgb(53, 53, 53);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.calendar_total div {
  border: 1px solid rgb(198, 223, 251);
  background: rgb(255, 255, 255);
  width: 64.29px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar_total p {
  /* Body text/M */
  color: rgb(53, 53, 53);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}

.calendar_total_disabled {
  opacity: 0.4;
}

.calendar_times {
  width: 33%;
}

.calendar_time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid rgb(198, 223, 251);
  border-radius: 5px;
  padding: 12px 16px 12px 16px;
  background: rgb(239, 246, 254);
  margin-bottom: 4px;
}

.calendar_time p {
  /* Body text/M */
  color: rgb(53, 53, 53);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.calendar_time input {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.fill_container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 70px;
}

.fill_form {
  width: 75%;
}

.form_input {
  width: 100%;
  margin-bottom: 20px;
}
.form_input input,
.form_input textarea {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(156, 198, 247);
  border-radius: 5px;
  /* Body text/M */
  color: rgb(53, 53, 53);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  height: 51px;
  padding-left: 23px;
  box-shadow: inset 2px 2px 6px -2px rgba(0, 0, 0, 0.09);
  background: rgb(239, 246, 254);
}

.form_twice {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 20px;
}
.form_three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 20px;
}
.form_input textarea {
  height: 101px;
  padding-top: 17px;
  resize: none;
}
.selected_calendar_day {
  background: rgb(32, 200, 79);
}
.selected_calendar_day p {
  color: #fff;
}

.success_send_modal {
  padding: 60px 30px;
  border-radius: 5px;
  width: 330px;

  background: rgb(255, 255, 255);
}
.success_send_modal h2 {
  color: rgb(53, 53, 53);
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 9px;
}

.success_status {
  display: flex;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(193, 240, 206);
  border-radius: 5px;

  background: rgb(233, 250, 238);
  padding: 10px;
  margin-bottom: 9px;
}

.success_status p {
  color: rgb(53, 53, 53);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.success_send_modal h3 {
  color: rgb(53, 53, 53);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}

.to_dashb {
  cursor: pointer;
}

.estimated {
  box-sizing: border-box;
  border: 1px solid rgb(198, 223, 251);
  border-radius: 5px;

  box-shadow: 0px 12px 24px -12px rgba(32, 129, 240, 0.2);
  background: rgb(32, 129, 240);
  padding: 13px 20px;
  margin-bottom: 20px;
}
.estimated span {
  color: rgb(239, 246, 254);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 6px;
}
.estimated p {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.confirm_terms p {
  font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 20px;
color: rgb(53, 53, 53);
}
.confirm_terms a {
  color: rgb(32, 129, 240);
  text-decoration: underline;
}
.confirm_datas .zipcode_form_input {
  margin-bottom: 20px;
}
.form_confirm_modal {
  padding: 40px 30px !important;
}
.coupon_input  input{
  box-sizing: border-box;
border-bottom: 1px solid rgb(156, 198, 247);
border-radius: 5px;

box-shadow: inset 2px 2px 6px -2px rgba(0, 0, 0, 0.09);
background: rgb(239, 246, 254);
}
.coupon_input .success_icon {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .fill_container,
  .schedule_container {
    flex-direction: column;
  }
  .fill_form,
  .schedule_left {
    width: 100%;
  }
  .pages_navigation_wrapper {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 500px) {
  .form_three,
  .form_twice {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    margin-bottom: 30px;
  }
  .form_three .form_input,
  .form_twice .form_input {
    margin: 0;
  }
  .section_title h2 {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .section_title {
    margin: 40px 0;
  }
  .calendar_wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .calendar_wrapper_left,
  .calendar_times {
    width: 100%;
  }
  .calendar_total div {
    width: 40px;
    height: 40px;
  }
  .calendar_total p,
  .calendar_total h4 {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0%;
  }
  .calendar_totals {
    gap: 14px;
    margin-top: 10px;
  }
  .calendar_total {
    width: 50%;
  }

  .calendar_day,
  .calendar_dates div {
    height: 40px;
  }
}

.calendar_day_invicible {
  visibility: hidden;
}

.input_error {
  margin-top: -2px !important;
}
.input_error span {
  font-size: 10px;
}
